* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ! a tag and ul  */

ul,
li,
a,
span {
  display: inline-block;
}

a {
  text-decoration: none;
}

/* ! container & row & col  */

.container {
  width: 1070px;
  max-width: 90%;
  margin: 0 auto;
}

.container-md{
    width:910px;
    margin:0 auto;
}

.container-410{
    width:410px;
    margin:0 auto;
}

.row {
  display: table;
  width: 100%;
  clear: both;
}

[class^="col-"] {
  float: left;
  padding: 0 15px;
}

.col-4 {
  width: calc((100% * 4) / 12);
}

.col-6 {
  width: calc((100% * 6) / 12);
}

.col-8 {
  width: calc((100% * 8) / 12);
}

.col-10 {
  width: calc((100% * 10) / 12);
}

.offset-1 {
  margin-left: calc(100% / 12);
}

.offset-2{
    margin-left:calc((100% * 2) / 12);
}

/* ! text  */
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/* ! margin & padding  */

.pr-0 {
  padding-right: 0;
}

.pl-0 {
  padding-left: 0;
}

.mr-0 {
  margin-right: 0;
}

.ml-0 {
  margin-left: 0;
}

.ml-10{
    margin-left:10px;
}

.mb-30{
    margin-bottom:30px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-95 {
  margin-bottom: 95px;
}

.mb-130 {
  margin-bottom: 130px;
}
